
@{
    ViewData["Title"] = "Index";
}

<h1>Agent</h1>
<textarea id="AgentMsg" rows="3" cols="50"></textarea>
<br />
<button id="AgentMsgSendButton">Send</button>

@section Scripts{
    <script src="~/lib/@@microsoft/signalr/dist/browser/signalr.js"></script>

    <script type="text/javascript">


    </script>

}